@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Cardo');



body, html {
    margin: 0; padding: 0;
    overflow-x:hidden;
    font-family: 'Montserrat', sans-serif !important;
}

button {
    outline:none;
 }

button::-moz-focus-inner {
    border: 0;
}

button:active {
    box-shadow: none;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: rgba(0,0,0,0);

}

a:active {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    outline: none;
}

a:visited {
    text-decoration: none;
    background-color: rgba(0,0,0,0) !important;
}

a:hover {
    background-color: rgba(0,0,0,0);
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.mobile-nav {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
    max-height: 60px;
    transition: max-height .5s;
    align-items: center;
    justify-content: center;
    transition: max-height .5s;
    -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.45);
    transition: max-height .5s;
}

@media all and (orientation:landscape) {
    .mobile-nav {
        display: none;
    }
}

.mobile-nav ul {
    margin: 0;
    padding: 0;
}

.hamburger-menu {
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger-stripe {
    position: absolute;
    width: 30px;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 25px;
    transition: transform .5s !important;
}

#ham-top {
    left: 25%;
    top: 35%;
}

#ham-mid {
    left: 25%;
    top: 50%;
}

#ham-bottom {
    left: 25%;
    top: 65%;
}

.hidden {
    display: none;
}

.ham-top-rotate {
    left: 20%;
    transform: rotate(-30deg);
}

.ham-bottom-rotate {
    left: 20%;
    transform: rotate(30deg);
}

.mobile-nav-expanded {
    height: 100%;
    max-height: 100%;
}

.mobile-nav-horiz {
    height: calc(100% - 60px);
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 60px;
    left: -100vw;
    transition: left .3s;
    flex-direction: column;
}

.mobile-nav-horiz-expanded {
    left: 0;
}

#mobile-nav-page-menu {
    width: 100%;
}

.mobile-nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-color: black;
    border-bottom-color: black;
    border-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}



.nav {
    -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.45);
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    z-index: 99;
}


.pure-menu-heading {
    display: inline-flex;
    align-content: center;
    align-items: center;
}

.pure-menu-heading p{
    margin: 0;
    display: inline;
}

.pure-menu-heading img {
    max-height: 2em;
}

.nav span {
    font-weight: 500;
}

.nav ul {
    font-weight: 300;
}

.pure-menu-link {

}

.pure-menu-link:hover {
    background: rgba(0,0,0,0);

}

.nav ul {
   /*margin-left: auto;*/
}

.nav-links {
    margin-left: auto;
}

@media all and (orientation:portrait){
    .nav {
        display: none;
    }

    .main-heading-text {
        margin-top: 60px;
    }
}

.cover-video-container {
    position: fixed;
    top: 45px;
    max-height: 70vh;
    z-index: -999;
    overflow: hidden;
    filter: grayscale(100%);
}

@media all and (orientation:portrait) {
    .cover-video-container {
        width: 100vw;
        max-height: 50vh; 
    }
}


.contact-modal-desktop {
    position: fixed;
    height: calc(100vh - 55px);
    width: 100vw;
    top: 55px;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}



.contact-modal-desktop-form {
    width: 50%;
    min-height: 45%;
    background-color: white;   
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.contact-modal-desktop-exit {
    position: absolute;
    top: 10px;
    left: 10px;
}

.contact-modal-desktop-exit:hover {
    cursor: pointer;
}

@media screen and (orientation:portrait) {
    
    .contact-modal-desktop {
        transition: .5s;
        visibility: visible !important;
        left: -100vw;
    }

    .visible {
        visibility: visible;
        left: 0;
    }

    .contact-modal-desktop-form {
        width: 100vw !important;
        height: calc(100vh - 45px);
        position: absolute;
    }

    .contact-modal-desktop-exit {
        display: none;
    }

    .form-item input, textarea {
        width: 100%;
    }
    
    .form-item textarea {
        margin-bottom: 10px;
    }

    .g-recaptcha {
        margin-bottom: 10px;
    }

    .g-recaptcha div {
        transform-origin: 0 0;
    }

}

.fa-times-thin:before {
	content: '\00d7';
}

#contact-form {
    width: 75%;
}

.form-field-container {
    display: block;
    width: 100%;
    text-align: center;
}

.form-field {
    text-align: left;
}

.form-field-container input {
    padding: 5px;
}

.form-field-container textarea {
    height: 4em;
    resize: none;
}

.form-field-container p {
    padding: 0; margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
#submission-button {
    width: 75%;
}

.form-item {
    padding-bottom: 10px;
}

@media screen and (orientation:landscape) {
    .visible {
        visibility: visible; 
    }

    .form-item input, textarea {
        width: 100%;
    }
    
    .form-item textarea {
        margin-bottom: 10px;
    }

    .g-recaptcha {
        margin-bottom: 10px;
    }

    .g-recaptcha div {
        width: 100% !important;
    }

    #submission-button {
        margin-bottom: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}



.main-heading {
    color: white;
    padding-top: 20px;
    min-height: 70vh;
    display: flex;
    align-items: center;
    align-content: center;
    background: -moz-linear-gradient(left, rgba(44,62,80,.8) 71%, rgba(44,62,80,.8) 99%);
    background: -webkit-linear-gradient(left, rgba(44,62,80,.8) 71%,rgba(44,62,80,.8) 99%);
    background: linear-gradient(to right, rgba(44,62,80,.8) 71%,rgba(44,62,80,.8) 99%);

}

#winlogo {
    fill: white;
}

.main-heading {
    position: relative;
}

.main-heading p {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.main-heading h1 {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.main-heading-text {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.main-heading-text {
    margin-left: 5%;
    margin-right: 5%;
}

@media all and (orientation:portrait) {
    
    .main-heading {
        min-height: auto;
    }

    .main-heading-text {
        padding: 5%;
    }

}

@media all and (max-device-width: 480px) and (orientation:portrait) {
    .main-heading-text {
        margin-left: 0;
    }
}

.main-section {
    min-height: 65vh;
    display: flex;
    align-items: center;
    color: #2C3E50;
    z-index: 99;
    background-color: white;
  /* 
    -webkit-box-shadow: 0px 10px 19px 0px rgba(50,50,50,1);
    -moz-box-shadow: 0px 10px 19px 0px rgba(50,50,50,1);
    box-shadow: 0px 10px 19px 0px rgba(50,50,50,1);
    */  
}

.main-section-column h1 {
    font-family: 'Montserrat', sans-serif;
}

.main-section-column p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

@media all and (orientation:portrait) {
    #pc-icon {
        display: none;
    }

    .main-section {
        min-height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .main-section-column {
        padding-right: 5%;
        padding-left: 5%;
    }
}

#pc-icon {
    max-width: 55%;
    padding-left: 15%;
    padding-bottom: 5%;
}


.on-site-section {
    background-color: #E74C3C;
    padding-top: 5%;
    padding-bottom: 5%;
}

.on-site-section-column {
    display: flex; 
    color: white;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.on-site-sub-columns {
    margin-top: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.on-site-sub-column {
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .2s;
}

.on-site-sub-column img {
    max-width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.on-site-sub-column p {
    padding-left: 10px;
    padding-right: 10px;
}


.web-dev-section {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
}

.web-dev-section-column {
    display: flex;
    flex-direction: column;
}

.web-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.web-sub-column {
    max-width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .2s;
}

.web-sub-column img {
    max-width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.web-sub-column p {
    padding-left: 10px;
    padding-right: 10px;
}

.managed-section {
    background-color: #E74C3C;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
}

.managed-logo {
    padding-right: 20px;
    font-size: 4rem;
}

.workstation-section {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.workstation-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.workstation-item {
    width: 50%;
}

.workstation-item p {
    padding-left: 10px;
    padding-right: 10px;
}

.workstation-item-icon {
    color: #E74C3C;
    padding-right: 10px;
}

.contact-section {
    min-height: 30vh;
    display: flex;
    align-items: center;
}

.contact-section-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media all and (orientation:portrait) {
    .contact-section-column {
        flex-direction: column;
    }
}

.business-section {

}

.contact-section {
    background-color: #E74C3C;
    color: white;
}

.contact-section-column ul {
    margin-left: auto;
    margin-right: auto;
}

.site-map-list-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.site-map-list-item {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.site-map-list-item a {
    color: inherit;
}

#more-info-button:hover {
    cursor: pointer;
}

#more-info-button div {
    width: 100%;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #E74C3C;
    text-align: center;
}

#more-info-button div p {
    padding: 0; margin: 0;
}

.footer-social-icon-link {
    font-size: 3rem;
    padding-right: 1rem;
}

#facebook-icon:hover {
    color: #3b5998;
}

#yelp-icon:hover {
    color: #c91400;
}

#google-icon:hover {
    color: #4885ed
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #E74C3C;
    font-size: .75rem;
    color: white;
    justify-content: center;
}

.more-information-list {
    margin-left: 0; padding-left: 0;
}


@media all and (orientation:portrait) {
    .section-column {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sub-columns {
        flex-direction: column;
    }

    .sub-column {
        width: 100%;
        max-width: 100% !important;
    }

    .workstation-item {
        width: 100%;
    }
    .site-map-list {
        margin-left: 0 !important;
        margin-right: auto !important;
        padding-left: 5% !important;
        padding-right: 5%;
    }

    .contact-section-column {
        padding-bottom: 5%;
        padding-top: 5%;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

}


/* Media Queries */ 

@media all and (max-height: 950px)  {
    
    .pricing-section {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .service-section-column {
        padding-top: 5%;
        padding-bottom: 5%;
    }

}

@media all and (max-width: 361) {

    .main-heading-text {
        margin: 0 !important;
        padding: 0 !important;
    }

}


/* iPad */

@media screen and (min-device-width: 481px) and (orientation:portrait) {

    .service-section {
        min-height: 0 !important;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .pricing-section {
        min-height: 0 !important;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .sales-section {
        min-height: 0 !important;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #business-icon {
        max-width: 35% !important;
    }

    .business-section-column {
        padding-top: 0px;
    }

    .contact-section ul {
        margin-left: 0;
        margin-right: 0 !important;
    }

}

/* iPad pro */

@media screen and (min-device-width: 1023) and (orientation:portrait) {
    
    .business-section {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: none!important;
    }

    .business-section-column {
        width: 100%;
    }

}


